.comp-LinkNav {
  > a {
    display: flex;
    gap: 10px;
    padding: 12px 15px;
    margin-bottom: 2px;
    border-radius: var(--bf-rd-btn);

    &:hover {
      background-color: var(--bf-bg-filled2);
    }
  }

  > .on {
    color: var(--bf-primary);
    background-color: var(--bf-bg-active) !important;
  }

  small {
    margin-left: 2px;
  }

  em {
    font-style: normal;
    color: var(--bf-tx-lesser);
  }

  &.small {
    font-size: 12px;

    > a {
      gap: 5px;
      padding: 6px 10px 6px 12px;
    }
  }
}
