:global {
  :local(.EntityCardList) {
    > .hd {
      height: 32px;
      padding-left: 20px;
      overflow: hidden;
    }

    > .bd {
      padding-left: 20px;
    }

    .comp-Pathcrumb .current.root {
      font-size: 13px;
    }
  }
}
