:global {
  :local(.AppListItem) {
    height: 144px;

    > .head-icon {
      padding-bottom: 10px;
      padding-left: 45px;

      > .title {
        margin-bottom: 7px;
      }

      > .icon {
        width: 34px;
        height: 34px;
      }
    }

    > .footer {
      > .flows {
        display: flex;
        gap: 3px;
      }
    }
  }
}
