.comp-LinkTab {
  display: flex;
  gap: 8px;
  align-items: center;

  > a {
    display: flex;
    gap: 3px;
    align-items: center;

    // color: var(--bf-tx-summary);

    &:hover {
      color: var(--bf-primary);
    }
  }

  > span {
    width: 0;
    height: 0.9em;
    overflow: hidden;
    border-left: 1px solid var(--bf-tx-placeholder);
  }

  > .on {
    color: var(--bf-primary);
  }
}
