.comp-Likes {
  display: flex;
  gap: 8px;
  align-items: center;
  font-size: 12px;

  > .btn {
    cursor: pointer;

    &:hover {
      color: var(--bf-primary);
    }
  }

  > .num {
    position: relative;
    top: 2px;
    left: -5px;
    font-family: min-icon, Arial, Helvetica, sans-serif;
    font-size: 10px;
  }
}
