:global {
  :local(.EntityList) {
    > .hd {
      display: block;
      height: 85px;
      padding: 25px 25px 0;
      overflow: hidden;

      > .row {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        &:last-child {
          align-items: flex-end;
          margin-top: 10px;
        }
      }
    }

    .comp-LinkTab {
      font-size: 12px;
    }
  }
}
