:global {
  :local(.NodeItemHeader) {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 996;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 46px;
    padding: 0 15px;
    background-color: var(--bf-bg-body);
    border-bottom: 1px solid var(--bf-bd-input);
    box-shadow: var(--bf-sd-btn);

    .ant-btn {
      height: 30px;
    }

    > .left {
      display: flex;
      gap: 3px;
      align-items: center;

      > .icon {
        margin-right: 3px;
        border-radius: var(--bf-rd-btn);
      }

      > .title {
        font-size: 14px;
        font-weight: 500;
      }

      > .type {
        color: var(--bf-tx-summary);
      }

      > .edit {
        margin-left: 3px;
        color: var(--bf-tx-placeholder);
        cursor: pointer;

        &:hover {
          color: var(--bf-primary);
        }
      }

      > .comp-Collect {
        margin-left: 4px;
      }
    }

    > .right {
      display: flex;
      gap: 10px;
      align-items: center;
    }

    &:global(__ver-menu) {
      .btn {
        font-style: normal;
        color: var(--bf-tx-body) !important;
      }

      .pub {
        color: var(--bf-tx-success) !important;
      }
    }
  }
}
