.ant-btn {
  gap: 5px;
}

.ant-btn-color-primary,
.ant-btn-color-default {
  box-shadow: none !important;
}

// .ant-input-filled {
//   .ant-input::placeholder {
//     color: var(--bf-tx-lesser);
//   }
// }

.ant-segmented {
  color: var(--bf-tx-lesser);
  background: var(--bf-bg-filled2);
}

.ant-modal-title {
  > .anticon {
    margin-right: 5px;
  }
}

// .ant-btn-color-primary,
// .ant-btn-color-default {
//   box-shadow: none;
// }

// .ant-input-filled:hover {
//   border-color: var(--bf-second);
// }

// .ant-input-filled {
//   .ant-input::placeholder {
//     color: var(--bf-tx-lesser);
//   }
// }

// .ant-btn:not(:disabled):focus-visible {
//   outline: 1px solid var(--bf-second);
// }

// .ant-btn-variant-text {
//   color: inherit;
// }

// .ant-alert {
//   padding: 5px 12px;
// }

// .ant-input-group .ant-input-group-addon {
//   color: var(--bf-tx-lesser);
// }

// .ant-select .ant-select-arrow {
//   color: var(--bf-tx-lesser);
// }

// .ant-select-filled:not(.ant-select-customize-input) .ant-select-selector {
//   border-color: var(--bf-bg-filled);
// }

// .ant-checkbox:not(.ant-checkbox-checked) .ant-checkbox-inner {
//   background-color: transparent;
// }

// .ant-segmented.ant-segmented-sm {
//   font-size: 12px;
// }

// .ant-segmented {
//   color: var(--bf-tx-lesser);
//   background: var(--bf-bg-filled2);
// }

// .ant-modal {
//   line-height: inherit;

//   .ant-modal-body {
//     line-height: inherit;
//   }

//   .ant-modal-close {
//     inset-inline-end: 10px;
//     top: 10px;
//     width: 20px;
//     height: 20px;
//   }
// }

// .ant-modal-title {
//   > .anticon {
//     margin-right: 5px;
//   }
// }

// .ant-dropdown-menu {
//   box-shadow: var(--bf-sd-tooltip) !important;
// }

// .anticon svg {
//   pointer-events: none;
// }

// .ant-table-wrapper .ant-table {
//   color: inherit;
// }

// .ant-table-body {
//   scrollbar-color: var(--bf-bg-filled) transparent;
// }

// .ant-table-thead tr th {
//   border-bottom-color: var(--bf-bd-tr) !important;
// }

// .ant-table-body tr td {
//   border-bottom-color: var(--bf-bd-tr) !important;
// }

// .ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item-icon,
// .ant-dropdown-menu-submenu .ant-dropdown-menu .ant-dropdown-menu-item-icon {
//   font-size: 12px;
// }

// .ant-notification {
//   .ant-notification-notice-message {
//     font-size: 14px !important;
//   }

//   .ant-notification-notice-icon {
//     font-size: 20px !important;
//   }

//   .ant-notification-notice-description {
//     color: var(--bf-tx-summary) !important;

//     > pre {
//       padding: 10px;
//       overflow: auto;
//       font-size: 12px;
//       background: var(--bf-bg-filled);
//       border-radius: var(--bf-rd-card);
//     }
//   }
// }
