html {
  --rd-doc: 15px;
  --sd-doc: 0 0 5px rgb(0 0 0 / 5%), 0 0 2px -1px rgb(0 0 0 / 3%);

  overflow: hidden;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}

body {
  font-size: 13px;
  color: var(--bf-tx-body);
}

:focus-visible {
  outline: none;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #0000000c;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: #00000008;
  border-radius: 10px;
}

::-webkit-scrollbar-corner {
  background-color: #00000008;
}

/* stylelint-disable-next-line selector-no-vendor-prefix */
::-webkit-input-placeholder {
  color: var(--bf-tx-placeholder);
}

.ant-input-filled > input:-internal-autofill-selected {
  box-shadow: 0 0 0 1000px #f3f5f7 inset !important;
  transition: background-color 9999s ease-in-out 0s !important;
}

a {
  color: inherit;
  text-decoration: none;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-size: 13px;
  background: var(--bf-bg-filled);

  > header {
    flex: none;
  }

  > article {
    display: flex;
    flex: 1;
    height: 80%;

    // col1
    > section {
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      border-top: 1px solid var(--bf-bd-input);

      > .loading {
        box-sizing: border-box;
        padding: 10px 30px;
      }
    }

    // col2-left
    > aside {
      box-sizing: border-box;
      display: flex;
      flex: none;
      flex-direction: column;
      justify-content: space-between;
      width: 240px;
    }

    // col2-right
    > main {
      position: relative;
      flex: 1;
      width: 100%;

      > .g-page {
        min-width: 1000px;
      }
    }
  }
}

.g-col-paper {
  margin-right: 13px;
  overflow: auto;
  background: #fff;
  border-radius: var(--rd-doc) var(--rd-doc) 0 0;
  box-shadow: var(--sd-doc);
}

.g-col-side {
  padding-top: 8px;
  border-top: 1px solid var(--bf-bd-input);

  // border-right: 1px solid var(--bf-bd-input);
}

.g-col-panel {
  border-top: 1px solid var(--bf-bd-input);
}

.g-page {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;

  > .hd {
    display: flex;
    flex: none;
    flex-wrap: wrap;
    place-content: flex-start space-between;
    align-items: center;
    padding: 20px 30px;

    > .space {
      display: flex;
      gap: 15px;
      align-items: center;
    }
  }

  > .bd {
    flex: 1;
    height: 80%;
    padding: 5px 25px 20px;
    overflow: auto;
  }
}

.g-pagination {
  position: relative;
  margin: 25px 0 0 !important;

  .ant-pagination-item-active {
    background-color: var(--bf-bg-filled2);
    border-color: transparent !important;
  }

  > .ant-pagination-total-text {
    position: absolute;
    top: 7px;
    left: 1px;
    height: auto;
    padding: 3px 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    line-height: 1;
    color: #fff;
    background: var(--bf-tx-placeholder);
    border-radius: 20px;
    opacity: 0.8;
  }
}

.g-table {
  th {
    font-weight: 500 !important;
  }
}

.g-file-cell {
  &.ant-table-cell-row-hover {
    > .comp-FileTools {
      display: flex;
    }
  }
}

.ant-table-row-selected > .g-file-cell > .comp-FileTools {
  display: none;
}

.g-entity-cell {
  padding-left: 18px;

  > .icon {
    position: absolute;
    margin-top: 4px;
    margin-left: -20px;
    color: var(--bf-tx-summary);
  }

  > .dir {
    margin-left: 5px;
    vertical-align: middle;
    color: var(--bf-tx-placeholder);
    cursor: pointer;

    &:hover {
      color: var(--bf-primary);
    }
  }

  > .readme {
    margin-left: 3px;
    vertical-align: middle;
    color: var(--bf-tx-placeholder);
    cursor: pointer;

    &:hover {
      color: var(--bf-primary);
    }
  }

  > .comp-Collect {
    margin-left: 5px;
    vertical-align: middle;
  }
}

.g-actions-cell {
  display: flex;
  gap: 12px;

  a {
    color: var(--bf-tx-lesser);

    &:hover {
      color: var(--bf-primary);
    }
  }
}

.g-settings {
  padding: 0 15px 15px 10px;

  > .title {
    padding-bottom: 5px;
    margin-bottom: 8px;
    font-size: 11px;
    border-bottom: 1px dashed var(--bf-bd-input);
  }
}

// .g-menu {
//   background-color: transparent;
//   border-inline-end: none !important;

//   .ant-menu-sub {
//     background-color: transparent !important;
//   }
// }

.g-icon-wrap {
  line-height: 0;

  > svg {
    pointer-events: none;
  }
}

.g-vertical {
  vertical-align: -0.14em;
}

.g-block {
  display: block;
}

.g-form-modal {
  padding-top: 10px;
}

.g-form-compact {
  .ant-form-item {
    margin-bottom: 18px;

    .ant-form-item-explain {
      font-size: 12px;
      line-height: 18px;
    }
  }
}

.g-form-footer {
  display: flex;
  gap: 10px;
  justify-content: flex-end;

  > .ant-btn {
    padding: 0 20px;
    font-weight: 500;
  }
}

.g-dot {
  font-family: Arial, Helvetica, sans-serif;
}

.g-card {
  position: relative;
  box-sizing: border-box;
  flex: none;
  padding: 16px;
  overflow: hidden;
  background: var(--bf-bg-side);
  border-radius: var(--bf-rd-card);
  box-shadow: var(--bf-sd-card);

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    pointer-events: none;
    content: "";
    border: 1px solid #fff;
    border-radius: var(--bf-rd-card);
  }

  &.st {
    border: 1px solid var(--bf-bd-input);
    box-shadow: var(--bf-sd-btn);

    &::before {
      display: none;
    }
  }

  &.folder {
    background: linear-gradient(180deg, #eff5ff 0%, #fff 100%);

    &:hover {
      background: linear-gradient(160deg, #eff5ff 0%, #fff 100%);
    }

    &::after {
      position: absolute;
      right: -14px;
      bottom: 10px;
      width: 60px;
      height: 13px;
      overflow: hidden;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 7px;
      line-height: 13px;
      color: #fff;
      text-align: center;
      content: "PACKAGE";
      background: #8ebdff;
      transform: rotate(-45deg);
    }
  }

  // &.owner {
  //   background: linear-gradient(180deg, #f6fff0 0%, #fff 100%);

  //   &:hover {
  //     background: linear-gradient(160deg, #f6fff0 0%, #fff 100%);
  //   }
  // }

  > .head-icon {
    position: relative;
    display: flow-root;
    padding-bottom: 8px;
    padding-left: 40px;
    border-bottom: 1px solid var(--bf-bd-tr);

    > .icon {
      position: absolute;
      left: 0;
      width: 32px;
      height: 32px;
      border-radius: var(--bf-rd-btn);
    }

    > .title {
      margin: 1px 5px 6px 0;
      overflow: hidden;
      text-overflow: ellipsis;
      font-weight: 600;
      white-space: nowrap;
    }

    > .info {
      font-size: 10px;
      line-height: 10px;
      color: var(--bf-tx-lesser);
    }
  }

  > .side {
    position: absolute;
    width: 60px;
  }

  > .main {
    padding-left: 75px;
  }

  > .footer {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-top: 15px;
    font-size: 11px;
    line-height: 11px;
    color: var(--bf-tx-lesser);
  }

  > .tools {
    position: absolute;
    bottom: 10px;
    left: 50%;
    display: none;
    overflow: hidden;
    background: #fff;
    border: 1px solid var(--bf-bd-tr);
    border-radius: 50px;

    // box-shadow: var(--bf-sd-btn);
    transform: translateX(-50%);

    .lucide {
      display: block;
    }

    > .btn {
      padding: 5px 7px;
      color: var(--bf-tx-lesser);
      cursor: pointer;

      &:hover {
        color: var(--bf-primary);
        background: var(--bf-bg-active);
      }

      &:first-child {
        padding-left: 15px;
      }

      &:last-child {
        padding-right: 15px;
      }
    }
  }

  > .summary {
    display: -webkit-box;
    height: 2.2rem;
    margin-top: 8px;
    overflow: hidden;
    -webkit-line-clamp: 2;
    font-size: 11px;
    line-height: 1.6;
    color: var(--bf-tx-summary);
    -webkit-box-orient: vertical;
  }

  &:hover {
    background: #fff;
    border-color: transparent;
    box-shadow: var(--bf-sd-hover);

    > .tools {
      display: flex;
    }
  }
}

.g-nodeList {
  &.selector {
    padding-top: 5px;
  }
}

.g-nodeList__card {
  height: 102px;
  cursor: pointer;

  > .select {
    position: absolute;
    bottom: 10px;
    left: 50%;
    display: none;
    padding-right: 15px;
    padding-left: 15px;
    box-shadow: var(--bf-sd-active);
    transform: translateX(-50%);
  }

  &:hover {
    > .select {
      display: block;
    }
  }
}

.g-nodeList__cardRemark {
  .like {
    margin-left: -2px;
  }

  .btn {
    margin-right: 8px;
    font-size: 12px;
    cursor: pointer;

    &:hover {
      color: var(--bf-primary);
    }
  }
}

.g-grid {
  display: grid;
  gap: 1rem;
  align-content: flex-start;
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-cols-4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-cols-5 {
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-cols-6 {
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-cols-7 {
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-cols-8 {
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-cols-10 {
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

/* .col-span-1 {
    grid-column: span 1/span 1
} */

@media (width >= 640px) {
  .sm\:grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .sm\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (width >= 768px) {
  .md\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .md\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (width >=1024px) {
  .lg\:grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media (width >=1280px) {
  .xl\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .xl\:grid-cols-4 {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

@media (width >=1536px) {
  .\32xl\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .\32xl\:grid-cols-5 {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}

@media (width >=2560px) {
  .\32k\:grid-cols-6 {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }
}
