:global {
  :local(.PlatformMenu) {
    &:global(__menuIcon) {
      padding: 2px;
      overflow: hidden;
      font-size: 0;
      line-height: 0;
      color: #fff;
      background: var(--bf-tx-lesser);
      border-radius: 3px;
    }
  }
}
