:global {
  :local(.WorkflowItemHeader) {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 996;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 46px;
    padding: 0 15px;
    background-color: var(--bf-bg-body);
    border-bottom: 1px solid var(--bf-bd-input);
    box-shadow: var(--bf-sd-btn);

    .ant-btn {
      height: 30px;
    }

    > .left {
      display: flex;
      gap: 3px;
      align-items: center;

      > .title {
        font-size: 14px;
        font-weight: 500;
      }

      > .type {
        color: var(--bf-tx-summary);
      }

      > .edit {
        margin-left: 3px;
        color: var(--bf-tx-placeholder);
        cursor: pointer;

        &:hover {
          color: var(--bf-primary);
        }
      }

      > .comp-Collect {
        margin-left: 5px;
      }
    }

    > .right {
      display: flex;
      gap: 5px;
      align-items: center;
    }
  }
}
