:global {
  :local(.EntityCard) {
    height: 142px;
    cursor: pointer;

    > .path {
      position: absolute;
      top: 10px;
      left: 10px;
      z-index: 2;
      padding: 2px;
      line-height: 0;
      color: var(--bf-tx-lesser);
      cursor: pointer;
      background: var(--bf-bg-filled);
      border-radius: 50px;
    }

    &:global(__info) {
      padding-left: 2px;

      > a {
        margin-left: 3px;

        &:hover {
          color: var(--bf-primary);
        }
      }
    }
  }
}
