:global {
  :local(.AppHead) {
    position: relative;
    max-width: 50%;
    height: 40px;
    padding-top: 3px;
    padding-left: 55px;

    > .icon {
      position: absolute;
      top: 0;
      left: 0;
      font-size: 15px;
    }

    > .title {
      font-size: 14px;
      font-weight: 500;
    }

    > .info {
      display: block;
      margin-top: 9px;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 11px;
      color: var(--bf-tx-summary);
      white-space: nowrap;
    }

    &:global(__star) {
      margin-right: 6px;
      margin-left: 10px;
    }

    &:global(__edit) {
      color: var(--bf-bd-input);
      cursor: pointer;

      &:hover {
        transform: scale(1.3);
      }
    }
  }
}
