:global {
  :local(.AppList) {
    &:global(__card) {
      height: 100px;

      .head-icon {
        padding-left: 48px;
      }

      .g-h4 {
        margin: 3px 8px 5px 0;
      }

      .g-small {
        padding: 1px 2px;
      }
    }
  }
}
