.comp-Pathcrumb {
  padding-left: 2px;

  > .home {
    display: flex;
    gap: 5px;
    align-items: center;
    padding-left: 2px;
    font-size: 14px;
    font-weight: bold;
  }

  .anticon {
    pointer-events: none;
  }

  // .refresh {
  // }

  .current {
    font-weight: bold;

    &.root {
      font-size: 14px;
    }
  }

  a {
    color: var(--bf-tx-summary) !important;
  }
}
