.comp-Pathcrumb {
  display: flex;
  align-items: center;
  padding-left: 2px;

  > .back {
    padding: 2px;
    margin-right: 8px;
    line-height: 0;
    color: var(--bf-tx-summary);
    cursor: pointer;
    border-radius: var(--bf-rd-btn);

    &:hover {
      background: var(--bf-bg-filled2);
    }
  }

  .anticon {
    pointer-events: none;
  }

  .refresh {
    color: inherit !important;
  }

  .current {
    font-weight: bold;

    &.root {
      font-size: 14px;
    }
  }

  a {
    color: var(--bf-tx-summary) !important;
  }
}
