.comp-MenuNav {
  padding: 10px 15px 10px 10px;

  .item {
    display: flex;
    gap: 6px;
    align-items: center;
    padding: 12px 15px;
    margin-bottom: 2px;
    border-radius: var(--bf-rd-btn);

    &:hover {
      background-color: var(--bf-bg-filled2);
    }

    &.on {
      color: var(--bf-primary);
      background-color: var(--bf-bg-active) !important;
    }
  }

  small {
    margin-left: 3px;
    color: var(--bf-tx-lesser);
  }

  .expand {
    border-radius: var(--bf-rd-btn);

    &:hover {
      background: #fff;
    }
  }

  .children {
    display: none;

    > .item {
      padding-left: 35px;
    }
  }

  .opened {
    > .children {
      display: block;
    }

    .expand {
      transform: rotate(90deg);
    }
  }
}
