:global {
  :local(.AppMenu) {
    position: relative;
    padding-top: 25px;

    small {
      margin-left: 1px;
    }

    em {
      font-style: normal;
      color: var(--bf-tx-lesser);
    }
  }
}
